[submodule "thorns"]
	path = thorns
	url = ../EinsteinExact
	upstreamurl = ../EinsteinExact
	upstreamtype = git
	revision = master_thorns
[submodule "Metrics"]
	path = Metrics
	url = git://github.com/barrywardell/Metrics
